body {
  margin: 0;
  padding: 0;
  font-family: '-webkit-pictograph';
}

img {
  width: 100%;
}

.flex-container{
  width:100%
}

.headerItem{
  display: flex;
  width:100%;
  margin-top: 18px;
  background-repeat: no-repeat;
  background-size: contain;
}

.infoItem{
  display: flex;
  justify-content: center;
  margin-top: 11px;
  margin-left: 13px;
}

.nextItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextItem img {
  width: 63px
}